@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeueBold/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold/BebasNeueBold.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueBold/BebasNeueBold.woff2') format('woff2'),
         url('../fonts/BebasNeueBold/BebasNeueBold.woff') format('woff'),
         url('../fonts/BebasNeueBold/BebasNeueBold.ttf') format('truetype'),
         url('../fonts/BebasNeueBold/BebasNeueBold.svg#BebasNeueBold') format('svg');
}
@font-face {
    font-family: 'BebasNeueBook';
    src: url('../fonts/BebasNeueBook/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook/BebasNeueBook.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueBook/BebasNeueBook.woff2') format('woff2'),
         url('../fonts/BebasNeueBook/BebasNeueBook.woff') format('woff'),
         url('../fonts/BebasNeueBook/BebasNeueBook.ttf') format('truetype'),
         url('../fonts/BebasNeueBook/BebasNeueBook.svg#BebasNeueBook') format('svg');
}
@font-face {
    font-family: 'BebasNeueLight';
    src: url('../fonts/BebasNeueLight/BebasNeueLight.eot');
    src: url('../fonts/BebasNeueLight/BebasNeueLight.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueLight/BebasNeueLight.woff2') format('woff2'),
         url('../fonts/BebasNeueLight/BebasNeueLight.woff') format('woff'),
         url('../fonts/BebasNeueLight/BebasNeueLight.ttf') format('truetype'),
         url('../fonts/BebasNeueLight/BebasNeueLight.svg#BebasNeueLight') format('svg');
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular/BebasNeueRegular.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueRegular/BebasNeueRegular.woff2') format('woff2'),
         url('../fonts/BebasNeueRegular/BebasNeueRegular.woff') format('woff'),
         url('../fonts/BebasNeueRegular/BebasNeueRegular.ttf') format('truetype'),
         url('../fonts/BebasNeueRegular/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}
@font-face {
    font-family: 'BebasNeueThin';
    src: url('../fonts/BebasNeueThin/BebasNeueThin.eot');
    src: url('../fonts/BebasNeueThin/BebasNeueThin.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueThin/BebasNeueThin.woff2') format('woff2'),
         url('../fonts/BebasNeueThin/BebasNeueThin.woff') format('woff'),
         url('../fonts/BebasNeueThin/BebasNeueThin.ttf') format('truetype'),
         url('../fonts/BebasNeueThin/BebasNeueThin.svg#BebasNeueThin') format('svg');
}
@font-face {
    font-family: 'NexaBold';
    src: url('../fonts/NexaBold/NexaBold.eot');
    src: url('../fonts/NexaBold/NexaBold.eot') format('embedded-opentype'),
         url('../fonts/NexaBold/NexaBold.woff2') format('woff2'),
         url('../fonts/NexaBold/NexaBold.woff') format('woff'),
         url('../fonts/NexaBold/NexaBold.ttf') format('truetype'),
         url('../fonts/NexaBold/NexaBold.svg#NexaBold') format('svg');
}
@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight/NexaLight.eot');
    src: url('../fonts/NexaLight/NexaLight.eot') format('embedded-opentype'),
         url('../fonts/NexaLight/NexaLight.woff2') format('woff2'),
         url('../fonts/NexaLight/NexaLight.woff') format('woff'),
         url('../fonts/NexaLight/NexaLight.ttf') format('truetype'),
         url('../fonts/NexaLight/NexaLight.svg#NexaLight') format('svg');
}
