/*
Theme Name: JordonLondon
Theme URI: jordonLondon.com
Description: JordonLondon Theme
Version: 1.0
Author: Codingmart
Author URI: http://www.codingmart.com
Tags: Codingmart, JordonLondon
*/

/*Common*/
html,
body{
  font-family: Arial, sans-serif; 
  padding-bottom: 60px;
}
.homeBg {
  background-image: url('images/homeBg.png');
  background-size: cover; 
}
.pageBg {
  background-image: url('images/pagebg.png');
  background-size: cover; 
}
.white-text{
  color: #fff;
}
.theme-text{
  color: #b28f0f;
}
.great-text {
  color: #959595;
}
.pad-Zero{
  padding: 0;
}
.left-Zero { padding-left: 0; }
.right-Zero { padding-right: 0; }
.regular{
  font-family: 'BebasNeueRegular';
}

/*Home*/
.header{
  background: rgba(0,0,0,0.6);
  height: 78px;
  margin-bottom: 2px;
}
.header ul{
  padding: 0;
}
.header ul li{
  padding: 0 26px;
  list-style: none;
}
.header ul li a{
  color: #b28f0f;
  font-size: 30px;
  font-family: 'BebasNeueBold';
  padding: 29.4px 13px;
}
.header ul li a:hover, .header ul li a:focus,.header ul li a.active{
  background: rgba(252, 243, 0,0.25);
  border-bottom: 10px solid #b7971f;
  text-decoration: none;
  color: #c8b11c;
  text-shadow: 1px 1px 3px #000;
}
.header ul li a:active{
  background: transparent;
}
.border-down{
  border-bottom: 5px solid rgba(0,0,0,0.2);
  margin-top: 2px;
}
.headerToggle span{
  background: #c8b11c;
  width: 27px;
  height: 3px;
}
/*Logo*/
.logo{
  margin-top: 8%;
  margin-left: 7%;
  /*text-align: center;*/
}
.homelogo { 
  margin-top: 8%;
  text-align: center;
}
/*Video List Homepage*/
.home-videoList{
  height: 180px;
  overflow: hidden;
  margin: 45px 0;
  position: relative;
  padding: 0;
}
.home-videoList li{
  display: inline-block;
  list-style: none;
  padding: 2px 4px;
  width: 265px;
  height: 175px;
  cursor: pointer;
}
.home-videoList li img {
  filter: sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
}

.home-videoList li img:hover {
  filter: sepia(0);
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
}
.arrowbtn{
  position: absolute;
  top: 37%;
  cursor: pointer;
}
.arrowLeft{
  left: 50px;
}
.arrowRight{
  right: 50px;
}
.socialWidgetHolder{
  width: 100%;
  min-height: 695px;
  margin: 25px 0;
  padding: 15px;
}
.widgetBox{
  background: rgba(0,0,0,0.65);
  padding: 10px;
}
.widgetTitle{
  font-size: 20px;
  color: #c8b11c;
}
.fbWidg{
  margin-top: 30px;
}
.twitterWidget, .fbWidget{
  width: 100%;
  border: 2px solid #c8b11c;
  margin: 5px 0;
}
.twitterWidget{
  height: 230px;
}
.fbWidget{
  height: 320px;
}

/*Advertise*/
.advertise { 
  height: 350px;
  border: 5px solid #aaa;
}
.mediaplayer { 
  height: 370px;
}

/*Upcoming events*/
#upcomeEvents{
  margin-top: 5%;
  margin-bottom: 15%;
}
.sectionTitle{
  font-family: 'BebasNeueRegular';
  font-size: 48px;
}
.border-dot:before{
  content: '•';
  color: rgba(255, 255, 255, 0.76);
  font-size: 30px;
  position: absolute;
  left: -2px;
  top: -21.75px;
}
.border-dot{
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  position: relative;
  margin-top: 10px;
  margin-bottom: 18px;
}
.eventDetails{
  margin: 3px 0;
}
.eventDetails .eventDate{
  color: #fff;
}
.eventDetails p{
  color: #b28f0f;
}

/*Footer*/
footer{
 position: relative;
 margin: 15px 0 30px;
}
.foot-border{
 border-top: 4px solid #313131;
}
.footLogo{
 position: absolute;
 bottom: 20px;
 padding: 0px 15px;
 left: 0;
 right: 0;
}
.footLogo img{
 width: 100%;
}
.footLogo-holder{
 height: 60px;
 border: 4px solid #313131;
 border-top: 0;
 position: relative;
}
.copyrights{
 font-size: 17px;
 display: inline-block;
 margin-top: 40px;
}
.copyrights a:hover{
 color: #b28f0f;
 text-decoration: none;
}
/*About*/
.content-outer { 
 background-image: url('images/content-bacground.png');
 background-size: 100%;
 padding: 20px;
 background-repeat: no-repeat;
 background-color: rgba(0,0,0,0.3);
 min-height: 1440px;
}
.content-inner {
 padding: 40px 80px;
}
.pageicon { padding: 0 20px 0 0; }
.light { font-family: 'BebasNeueLight'; }
.social-icons {
  margin: 0;
  padding: 12px 0 0;
  text-align: center;
}
.social-icons li { 
  display: inline-block;
  margin: 0 4px;
}
.advertise { 
  height: 350px;
  border: 5px solid #aaa;
}
.mediaplayer { 
  height: 370px;
}
.content { 
  margin: 25px 0 0;
}
.biography { 
  font-size: 16px;
  padding: 0 30px 0 0;
  text-align: justify;
  line-height: 22px;
  letter-spacing: 1px;
}
.biography p {
  margin: 0 0 20px;
}
#main { margin-top: 90px; }
/*video*/
.pg-video { 
  margin: 0; 
  border-bottom: 1px solid #b28f0f; 
}
.pg-video .social-icons { text-align: right; }
.videoplayer { 
  border: 1px solid #000;
  border-radius: 5px;
}
.videoplayer img { 
  width: 100%; 
  height: auto; 
}
.recentvideos img { 
  width:100%; 
  height: 123px; 
}
.recentvideos { 
  margin: 0;
  text-align: right; }
  .recentvideos li:nth-child(2n) { margin: 15px 0; }
  .bar { position: absolute; }
  .bar img { height: auto!important;}
  .popular-videos { 
    margin: 25px 35px 15px;
    /*  text-align: center; */
  }
  .popular-videos li { 
    display: inline-block; 
    margin: 0 10px 30px
    vertical-align: top;
    position: relative;
  }
  /*.popular-videos li:nth-child(2n){ margin: 0 20px 35px; }*/

  .popular { margin: 40px 0 0; }
  /*music*/
  .pg-music .social-icons {
    text-align: right;
  }
  .music-player { 
    border-radius: 5px;
    border: 1px solid #000;
  }
  .music-player img { width: 100%; height: auto; }
  /*contact*/
  #contact-form input,textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    background: #211c06;
    border: 1px solid #3f340c;
    color: #b28f0f;
  }
  #contact-form textarea {
    height: 200px;
  }
  .send { 
    padding: 10px 27px; 
    border-radius: 2px;
    border:none;
    background: #b28f0f;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    outline: none;
  }

  .send a { 
    text-decoration: none;
    color: #443a06;
  }
  .fields { margin-bottom: 25px; }

  /* custom placeholder color */
  /* WebKit browsers */
  ::-webkit-input-placeholder { 
    color: #443a06;
  }
  
  /* Mozilla Firefox 4 to 18 */
  :-moz-placeholder { 
   color: #443a06;
   opacity: 1;
 }
 
 /* Mozilla Firefox 19+ */
 ::-moz-placeholder { 
   color: #443a06;
   opacity: 1;
 }
 
 /* Internet Explorer 10+ */
 :-ms-input-placeholder { 
   color: #443a06;
 }
 /*Gallery*/
 #gallery{
  margin-top: 45px;
}
#gallery img{
  width: 100%;
  height: 150px;
  cursor: pointer;
  filter: sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
}
#gallery img:hover {
  filter: sepia(0);
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
}
.galleryList{
  padding: 0;
  height: 150px;
  overflow: hidden;
}
.galleryList span{
  padding: 0px 20px;
  vertical-align: middle;
  font-size: 40px;
}
.galleryList span i{
  cursor: pointer;
}
/*Freemixtape*/
.freemix h3,.popular-tracks h3 { 
  font-size: 44px; 
  border-bottom: 1px solid #3f340c; 
  padding: 0 0 8px;
}
.popular-tracks h3 { 
  border: none;
  padding: 0;
  margin-bottom: 5px;
}
.description { 
  padding: 0;
  color: #fff;
  position: relative;
  min-height: 140px;
  font-size: 12px;
}
.ratings { 
  padding-right: 0; 
}
.artist { padding-left: 0; }
.artist img { width: 100%; height: 120px; }
.rating { 
  padding: 5px;
  font-size: 12px;
  border: 1px solid #3f340c;
}
.rating li { padding: 0 0 3px; }
.fans-rating {
  color: #b28f0f;
  text-align: center;
  margin: 0;
}
.fans-rating span { 
  display: block;
  color: #fff !important;
}
.options { 
  position: absolute;
  bottom: 0;
  color: #b28f0f; 
  margin: 0;
}
.options li { display: inline-block; }
.options li:nth-child(2n) { padding: 0 10px; }
.options a {
  color: #b28f0f;
  text-decoration: none;
  cursor: pointer;
}

.video-menu { 
  margin: 20px 0 0;
  background: rgba(178, 143, 15, 0.1);
  text-transform: uppercase;
  font-size: 15px;
  color: #645009;
}
.video-menu li { 
  display: inline-block;
}
.video-menu a { 
  padding: 5px 9px;
  color: #645009;
  text-decoration: none;
  display: inline-block;

}
.video-menu span { padding: 0 4px 0 0;}
.questions {
  margin: 50px 0 0;
}
.questions li { margin-bottom: 5px; }  
.questions li { 
  display: block;
  padding: 10px;
  background: rgba(178, 143, 15, 0.1);
  color:#b28f0f;
  text-decoration: none;
}

.questions li:hover,.questions li.active {
  background: rgba(178, 143, 15, .3);
}
.question-options { 
  float: right;
  display: none;
  padding: 0 40px 0 0;
}
.question-options img { width: 15px; height: auto; }
.questions li:hover .question-options,.questions li.active .question-options {
  display: block;
}
.question-options a { margin: 0 5px; }
.comment { 
  margin: 50px 0 0; 
  color:#b28f0f;  
}
.comments { 
  padding: 5px 5px 10px;
  background: rgba(178, 143, 15, 0.1);
}
.comment-count { padding: 0 0 5px; }
.comments textarea { 
  height: 150px;
  border: none;
}
.addcomment { 
  background: #433608; 
  color: #584709;
  outline: none;
  border: 0
}
.addcomment:hover,.addcomment:focus { 
  outline: none;
  color: #584709;
}
.tracks { 
  padding: 20px;
  border: 2px solid #3f340c; 
  color: #fff;
}
.tracks li { 
  padding: 20px 0 5px;
  border-bottom: 1px solid #aaa;
}
.tracks li:last-child { border: none; }
.tracks li:first-child {
  padding: 0 0 5px;
}
.track-dec { 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4;
  font-size: 12px;
}
.tracks .options {
  position: static; 
}
.options li { 
  padding: 0; 
  border: none; 
}
.more { 
  margin: 20px 0 0;
  font-size: 21px; 
  text-align: center; 
}
.more a {
  color:#82680a; 
  text-decoration: underline;
}
.music-tiles  { 
  padding: 20px 0 30px;
  color: #fff; 
  font-size: 13px!important;
  min-height: 180px;
}
.music-tiles .track-dec { font-size: 13px; }
.music-tiles .options { position: static; }
.music-tiles .options li { 
  padding: 5px 0 0;
}
.artist-description { padding: 0 25px 0 0; }
.embed { padding: 20px; }
.embed input { width: 100%; }
.embed  .title { 
  color: #eee;
  padding: 0 0 20px; 
}


@media only screen and (min-width: 991px) and (max-width: 1200px){
  .header ul li{
    padding: 0 10px;
  }
  /*arrow*/
  .arrowLeft{
    left: 86px;
  }
  .arrowRight{
    right: 86px;
  }
  .artist img { height: 85px; }
}
@media only screen and (max-width:991px) {
  .header ul li { padding: 0 10px; }
  .header ul li a { padding: 29.4px 10px; }
  .content-inner { padding: 30px; }
  .sectionTitle { font-size: 38px; }
  .social-icons img { width: 40px; }
  .fb img { height: 50px; width: auto; }
  .tab { padding: 0; }
  .social-icons li { margin: 0 1px; }
  .popular-videos .lists { margin: 0 10px 30px; }
  .popular-videos li { margin: 0 10px 30px; }
  /*Gallery*/
  .galleryList {
    max-height: 285px;
    height: auto;
    padding: 3px;
  }
  .galleryList img{
    border: 2px solid #ddd;
  }
  .galleryList span {
    padding: 0px 5px;
    font-size: 24px;
  }  
  .freemix h3, .popular-tracks h3 {
    font-size: 30px;
  }
  .recentvideos img {  
    height: 76px; 
  }

}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .header ul li{
    padding: 0 5px;
  }
  .header ul li a{
    font-size: 25px;
  }
  /*arrow*/
  .arrowLeft{
    left: 26px;
  }
  .arrowRight{
    right: 26px;
  }
  .artist img { height: 85px; }
}
@media only screen and (max-width: 767px){
 #gallery img { height: auto!important;}
 .artist img { height: auto!important; }
 .content-outer { min-height: 700px!important;}
 footer {margin-top: 18%; }
 .music-tiles {
   min-height: inherit!important;
 }
 .homelogo { 
  margin-left: 0;
  text-align: center;
}
.header ul li a:hover, .header ul li a:focus, .header ul li a.active { 
  display: block;
}
.fans-rating li { 
  display: inline-block; 
  padding: 0 10px;
}
.video-menu a {
  display: block;
}
.video-menu a:hover {
  background: rgba(178, 143, 15, 0.1);
}
/*body { background-size: contain !important; }*/
#contact-form input,textarea { margin-bottom: 12px; }
.left-Zero,.right-Zero { padding: 0; }
.fields { margin: 0; }
.header ul {
  background: rgba(0, 0, 0, 0.64);
  width: 200px;
  margin-top: 0;
}
.headerCollapse{
  position: absolute;
  top: 0;
}
.headerCollapse{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.header ul li a {
  font-size: 21px;
  padding: 12px 0px;
  display: inline-block;
}
.header ul li a:hover, .header ul li a:focus {
  background: transparent;
  border-bottom: none;
}
.sectionTitle {
  text-align: center;
}
.tab { padding: 0 15px; }
.biography { 
  padding: 0;
} 
.popular-videos { 
  text-align: center;
}
.popular-videos li img { 
  width: 100%;
  height: 120px;
}
.popular-videos li,.popular-videos .lists { margin: 0 1% 10px; width: 38%; }
.pg-video .social-icons { text-align: center; }
/*arrow*/
.arrowLeft{
  left: -17px;
}
.arrowRight{
  right: -17px;
}
.description {
  min-height: 20px;
  margin: 20px 0;
} 
.artist { text-align: center!important }
.artist img { 
  max-width: 120px;
  width: auto!important; 
  display: inline; 
}
.options { 
  position: static;
  text-align: center;  
}
.video-menu li { display: block; }
.video-menu li:nth-child(2n) { display: none; }
.eventDetails p { text-align: center; }
.music-tiles { 
  padding: 0 0 15px;
  text-align: center; 
}
.music-tiles .artist { padding: 0 0 10px; }
}
@media only screen and (max-width: 480px){
  .logo img{
    width: 90%;
  }
  .content-outer { padding: 10px; }
  .content-inner { padding: 15px; }
  .content-inner .sectionTitle { 
    font-size: 24px; 
    text-align: left;  
  }
  .pageicon { padding: 0 10px 0 0; }
  .pageicon img { width: 35px; height: auto; }
  .popular-videos li,.popular-videos .lists { width: 46%; }
  .social-icons { text-align: left!important;}
  /*Widget*/
  .widgetTitle{
    font-size: 13px;
  }
  .question-options { 
    padding: 0;
    float: none;
    display: block;
  }
  .popular-videos li img { 
    height: 80px;
  }
  
}
.ratingAS{
  margin: 0;
  padding: 0;
  display: inline-block; 
}
.rate-selected {
 padding: 1px;
 color: #a9a9a9;
 text-align: center;
 font-weight: bold;
 font-size: 20px;
 list-style-type: none;
 display: inline-block !important;
 cursor: pointer;

}
.rate-selected.filled {
  color: #fd0; 
}
.popover.bottom > .arrow:after {
    border-bottom-color: rgba(178, 143, 15, 0.1) !important;
}
.popover{
  background-clip: none;
  background-color:rgba(178, 143, 15, 0.1);
}
.popover .popover-text{
  color:#645009;
}