<!-- <section class="container">
  <div class="mDj1 hide2">
    <img src="wp-content/themes/jordonLondon/images/Dj1.png" class="img-responsive">
  </div>
  <div class="homelogo">
    <img src="wp-content/themes/jordonLondon/images/logo.png" class="img-responsive">
  </div>
</section>  -->
<section id="main">
  <div class="container">
    <div class="content-outer">
      <div class="content-inner">
        <div class="row topsection">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tab pull-right">
            <ul class="list-unstyled social-icons">
              <li ng-repeat="social in sociallinks">
                <div ng-click="popitup(social.url)">
                  <img ng-src="{{social.image}}" class="img-responsive" alt="">
                </div>
              </li>
            </ul>
          </div>        
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <div class="sectionTitle white-text">
              <div class="theme-text title">
                <span class="pageicon" >
                <img src="wp-content/themes/jordonLondon/images/title/Jl.png" alt="">
                </span>
                <span class="regular">About</span> <span class="light">Jordan London</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="content" >
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="biography great-text" ng-bind-html="biography.content">
                
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="mediaplayers">

                <iframe width="100%" height="375" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https://soundcloud.com/jljordanlondon&amp;hide_related=true&amp;visual=true&amp;color=ff5500&amp;auto_play=false&amp;show_artwork=false&amp;show_user=false&amp;show_comments=false&amp;show_playcount=true&amp;sharing=true&amp;liking=true&amp;download=false&amp;buying=false"></iframe>

              </div>            
              <div class="advertise">
                <img src="wp-content/themes/jordonLondon/images/add.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div><!--/content-inner-->
    </div><!--/content-outer-->    
  </div>
</section>
