 <!-- <section class="container">
  <div class="logo">
     <a href="index.html"><img src="wp-content/themes/jordonLondon/images/logo.png"></a>
  </div>
 </section>  -->
 <section id="main">
  <div class="container">
    <div class="content-outer">
      <div class="content-inner">
        <div class="row topsection">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tab pull-right">
            <ul class="list-unstyled social-icons">
              <li ng-repeat="social in sociallinks">
                <div ng-click="popitup(social.url)">
                  <img ng-src="{{social.image}}" class="img-responsive" alt="">
                </div>
              </li>
            </ul>
          </div>        
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <div class="sectionTitle white-text">
              <div class="theme-text title"><span class="pageicon" ><img src="wp-content/themes/jordonLondon/images/title/Jl.png" alt=""></span><span class="regular">Blog</span></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- <div class="recent-blog">
          <h3 class="light theme-text">{{blog.title}}</h3>
        </div> -->
        <div class="row">
          <div class="content">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="blog">
                <div class="player">
                  <img src="{{blog.meta.blog_image}}" ng-show="blog.meta.video_url===''">    
                  <youtube-video player-width="'100%'" player-height="'400px'" video-url="blog.meta.video_url" player="bestPlayer">

                </youtube-video>              
              </div>
              <div class="post-tilte theme-text regular">{{blog.title}}</div>
              <div class="post-date theme-text">Submitted by {{blog.author.username}} at {{blog.date.slice(0,10)}}</div>
              <div class="blog-text" ng-bind-html="blog.meta.description">
              </div>
              <div id="fb-root"></div>
              <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
              <div class="fb-comments" data-href="http://jl.ws-9.net" data-width="500" data-num-posts="20" data-colorscheme="light"></div>
              <ul class="list-unstyled sharlink">
                <li><span class='st_facebook_hcount' displayText='Facebook'></span>
                  <span class='st_twitter_hcount' displayText='Tweet'></span>
                  <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
                  <span class='st_pinterest_hcount' displayText='Pinterest'></span>
                  <span class='st_googleplus_hcount' displayText='Google +'></span></li>  
                </ul>        
<!--                 <div class="comment hide">
                  <div class="comment-count">23 comments</div>
                  <div class="post-comment">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 person-img">
                      <img src="wp-content/themes/jordonLondon/images/Avatar.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 comment-field">
                      <form>
                        <textarea></textarea>
                        <select>
                          <option>Comment using</option>
                          <option>1</option>
                        </select>
                      </form>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="Comments hide">
                  <ul class="list-unstyled comment-list">
                    <li>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 person-img">
                        <img src="wp-content/themes/jordonLondon/images/Avatar.png" alt="" class="img-responsive">
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 comment-field">
                        <p class="person-name">John doe</p>
                        <p class="comment-desc">JL can be found on twitter, YouTube, soundcloud, instagram and facebook.JL can be found on twitter, YouTube, soundcloud, instagram and facebook.</p>
                        <div class="comment-links">
                          <a href="#">Reply</a> | <a href="#">Like</a> | <a href="#">Feb 2015</a>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 person-img">
                        <img src="wp-content/themes/jordonLondon/images/Avatar.png" alt="" class="img-responsive">
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 comment-field">
                        <p class="person-name">John doe</p>
                        <p class="comment-desc">JL can be found on twitter, YouTube, soundcloud, instagram and facebook.JL can be found on twitter, YouTube, soundcloud, instagram and facebook.</p>
                        <div class="comment-links">
                          <a href="#">Reply</a> | <a href="#">Like</a> | <a href="#">Feb 2015</a>
                        </div>
                      </div>
                    </li>
                  </ul>  
                </div> -->
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-controller="musicController">
            <div class="popular-tracks">
              <div class="tracks">
                <ul class="list-unstyled latest" ng-init="limit=3">
                  <li class="Fs">
                    <h3 class="theme-text Tracks">
                      <span class="regular">Latest</span> <span class="light">Tracks</span>
                    </h3>
                  </li>
                  <li ng-repeat="song in music.topSongs | limitTo: limit">
                    <p class="track-dec">
                      {{song.mp3.title}}
                    </p>
                    <ul class="list-unstyled options">
                      <li>
                        <a href="freemixtape/{{song.author}}">
                          <span>
                          <img width="18" height="18" src="wp-content/themes/jordonLondon/images/title/music.png" alt="">
                          </span> 
                          Mixtape
                        </a>
                      </li>
                      <li>|</li>
                      <li>
                        <a href="{{song.mp3.url}}" target="_blank">
                          <span>
                            <i class="fa fa-arrow-down"></i>
                          </span> 
                          DownLoad
                        </a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </li>                                                        
                </ul>
                <div class="more">
                  <a href="#" ng-click="limit=12" ng-hide="limit==12"><span class="light">Load more tracks</span></a>
                </div>
              </div>
            </div> 
            <div class="Recent-posts">
              <h3 class="theme-text"><span class="regular">Related</span> <span class="light">Posts</span></h3>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 posts"  ng-repeat="blog in popular_blogs | limitTo: 2">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 post-img">
                  <a href="blogs/{{blog.blog_id}}" ng-hide="blog.blog_image==''">
                    <img src="{{blog.blog_image}}" alt="" class="img-responsive">
                    <div class="bar" ng-hide="blog.video_url==''">
                      <img src="wp-content/themes/jordonLondon/images/bar2.png" alt="">
                    </div>
                  </a>
                  <a href="blogs/{{blog.blog_id}}" ng-show="blog.blog_image==''">
                    <img src="https://i1.ytimg.com/vi/{{blog.video_thumbnail}}/mqdefault.jpg" alt="" class="img-responsive">
                    <div class="bar">
                     <img src="wp-content/themes/jordonLondon/images/bar2.png" alt="">
                   </div>
                 </a>
               </div>    
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 post-detail">       
                <p class="music-title">{{blog.title}}</p>
                <p class="track-dec" ng-bind-html="blog.description"></p>
                <ul class="list-unstyled options">
                  <li><a href="blogs/{{blog.blog_id}}">Read more</a></li>
                </ul>
              </div>            <!--/posts-->                
              <div class="clearfix"></div>               
            </div>
          </div>
        </div>
      </div>

    </div><!--/content-inner-->
  </div><!--/content-outer-->    
</div>
</section>