<!-- <section class="container">
  <div class="logo">
    <a href="index.html"><img src="wp-content/themes/jordonLondon/images/logo.png"></a>
  </div>
</section>  -->
<section id="main">
  <div class="container">
    <div class="content-outer">
      <div class="content-inner" ng-controller="musicController">
        <div class="topsection section1">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-Zero pull-right">
            <ul class="list-unstyled social-icons">
              <li ng-repeat="social in sociallinks">
                <div ng-click="popitup(social.url)">
                  <img ng-src="{{social.image}}" class="img-responsive" alt="">
                </div>
              </li>
            </ul>
          </div>        
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pad-Zero pull-left">
            <div class="sectionTitle white-text">
              <div class="theme-text title"><span class="pageicon" ><img src="wp-content/themes/jordonLondon/images/title/Jl.png" alt=""></span><span class="regular">Contact</span> <span class="light">Jordan London</span></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="content">
            <div class="Contact-Page-Fields col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="contact">
                <form id="contact-form">
                  <div class="fields">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left-Zero">
                      <input type="text" name="" value="" placeholder="First Name" ng-model="contactform.firstname">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-Zero">
                      <input type="text" name="" value="" placeholder="Last Name" ng-model="contactform.lastname">
                    </div>
                    <div class="clearfix"></div>                      
                  </div>
                  <div class="fields">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left-Zero">
                      <input type="email" name="" value="" placeholder="Email" ng-model="contactform.email">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-Zero">
                      <input type="text" name="" value="" placeholder="Address" ng-model="contactform.address">
                    </div>
                    <div class="clearfix"></div>                      
                  </div> 
                  <div class="fields">
                    <textarea ng-model="contactform.message" id="text" rows="6" cols="100" placeholder="Your Message"></textarea>
                  </div>    
                  <div class="text-right btn-1">
                    <button class="btn-lg send" toggle-text ng-click="contact($event)">Send Message</button>     
                  </div>           
                </form>
              </div>
            </div>
          </div>
        </div>
      </div><!--/content-inner-->
    </div><!--/content-outer-->    
  </div>
</section>
