<div class="Form-fancybox container-fluid" ng-init="logStatus=true">
	<div class="row login-button" ng-init="tab=1">
		<a href="#" ng-click="tab=1" ng-class="{'active':tab===1}">Login</a>
		<a href="#" ng-click="tab=2" ng-class="{'active':tab===2}">Registration</a>
	</div>
	<form ng-submit="loginUser()" ng-show="tab==1" class="row login-form" ng-init="ForgotPassword=false">
		<p ng-show="logStatus==false">Email or password was wrong</p>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="user.email">
		</div>
		<div class="form-group" ng-show="ForgotPassword==false">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
		<a ng-click="ForgotPassword=!ForgotPassword;logStatus=true">Forgot Password</a>
	</form>
	<form ng-submit="registerUser()" ng-show="tab==2" class="row login-form">
		<div class="form-group">
			<label for="exampleInputName1">Name</label>
			<input type="text" class="form-control" id="exampleInputName1" placeholder="Enter Name" ng-model="register.name">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="register.email">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="register.password">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Re-type Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="register.password_confirm">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>

</div>