<!-- <section class="container">
  <div class="logo">
    <img src="wp-content/themes/jordonLondon/images/logo.png">
  </div>
</section>  -->
<section id="main">
  <div class="container">
    <div class="content-outer">
      <div class="content-inner">
        <div class="row topsection">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tab pull-right">
            <ul class="list-unstyled social-icons">             
              <li ng-repeat="social in sociallinks">
                <div ng-click="popitup(social.url)">
                  <img ng-src="{{social.image}}" class="img-responsive" alt="">
                </div>
              </li>
            </ul>
          </div>        
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <div class="sectionTitle white-text">
              <div class="theme-text title"><span class="pageicon" ><img src="wp-content/themes/jordonLondon/images/title/Jl.png" alt=""></span><span class="regular">Mixtape</span></div>
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="content">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="freemix">
                <h3 class="light theme-text">{{currentPlaylist.title}}</h3>
                <div class="desc">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 artist">
                  <a href="{{image}}" fancy-boxx ng-click="Views()">
                      <img  src="{{image}}" alt="" class="img-responsive">
                    </a>
                    <div class="imagesNavigate">
                      <a ng-click="image = currentPlaylist.meta.front_side_image.url">
                        <i class="fa fa-chevron-left"></i>
                      </a>
                      <a ng-click="image = currentPlaylist.meta.back_side_image.url">
                        <i class="fa fa-chevron-right"></i>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 description">
                    <p class="greentext">
                      {{currentPlaylist.meta.playlist_name}}
                    </p>
                    <p class="track-dec" ng-bind-html="currentPlaylist.meta.description">                      
                    </p>
                    <ul class="list-unstyled options">
                      <li>
                        <a href=""  ng-click="playPause(0,music.nowPlaying[0].title)" class="listenColor">
                          <span>
                            <img src="wp-content/themes/jordonLondon/images/Music.png" alt="">
                          </span>
                          Listen
                        </a>
                      </li>
                      <li>|</li>
                      <li>
                        <a ng-click="downloadZip()" class="downloadColor">
                          <span><i class="fa fa-arrow-down"></i></span> 
                          DownLoad
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ratings">
                    <div class="rating">
                      <ul class="list-unstyled fans-rating">
                        <li class="counts"><span class="greentext" ng-hide="currentPlaylist.meta.viewcount=='0'">{{currentPlaylist.meta.viewcount}}</span>
                        <span class="greentext" ng-show="currentPlaylist.meta.viewcount=='0'">N/A</span> 
                        <span>Views</span>
                        </li>
                        <li class="counts"><span class="greentext" ng-hide="streamCount=='0'">{{streamCount}}</span>
                        <span class="greentext" ng-show="streamCount=='0'">N/A</span> 
                        <span>Stream</span></li>
                        <li class="counts"><span class="greentext" ng-hide="currentPlaylist.meta.downloadcount=='0'">{{currentPlaylist.meta.downloadcount}} </span>
                        <span class="greentext" ng-show="currentPlaylist.meta.downloadcount=='0'">N/A</span> 
                        <span>Download</span>
                          <li ng-bind-html="rateIcon">

                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="list-unstyled video-menu">
                      <li>
                        <a href="" ng-click="embedBox()">
                          <span>
                            <i class="fa fa-chevron-left"></i>
                            <i class="fa fa-chevron-right"></i>
                          </span>
                          Embeded
                        </a>
                      </li>
                      <li>|</li>
                      <li>
                        <a href="" ng-click="ratingCheck()" class="mypopover" data-placement="bottom">
                          <span>
                            <i class="fa fa-star"></i>
                          </span>
                          Rate
                        </a>
                        <script type="text/ng-template" id="templateId.html">
                          <div ng-show="ratingMenu==0" class="popover-text">Authorizing</div>
                          <div ng-show="ratingMenu==1" starrating rating-value="rating" max="5" on-rating-selected="rateFunction(rating)">
                          </div>
                          <div ng-show="ratingMenu==2" class="popover-text">You Have Already Rated</div>
                          <div ng-show="ratingMenu==3" class="popover-text">Thank you</div>
                        </script>

                      </li>
                      <li>|</li>
                      <li>
                        <a href="">
                          Added
                          <span>
                            <i class="fa fa-calendar"></i>
                          </span>
                          {{currentPlaylist.date | date}}
                        </a>
                      </li>
                      <li>|</li>
                      <li>
                        <a href="#cmt">
                          <span>
                            <img src="wp-content/themes/jordonLondon/images/Comment.png" alt="">
                          </span>Comment
                        </a>
                      </li>
                    </ul>
                    <ul class="list-unstyled video-menus">
                      <li>
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{currentURL}}&t={{currentPlaylist.title}}">
                          <span class='st_button st_facebook_large' displayText='Facebook'></span>
                        </a>
                        <a target="_blank" href="https://twitter.com/intent/tweet?text={{currentPlaylist.title}}&url={{currentURL}}">
                          <span class='st_button st_twitter_large' displayText='Tweet'></span>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{currentURL}}&title={{currentPlaylist.title}}">
                          <span class='st_button st_linkedin_large' displayText='LinkedIn'></span>
                        </a>
                        <a target="_blank" href="https://plus.google.com/share?url={{currentURL}}&hl=en-US">
                          <span class='st_button st_googleplus_large' displayText='Google +'></span>
                        </a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                    <ul class="list-unstyled questions">
                      <li class="playerActions"
                      ng-repeat="song in music.nowPlaying"
                      ng-class="{ active: mediaPlayer.playing && mediaPlayer.currentTrack-1 === $index }">
                      {{ $index+1 }}) {{song.title}}
                      <span class="question-options">
                        <a href="#"
                        ng-click="download(song)">
                        <i class="fa fa-floppy-o"></i>
                      </a>
                      <a href="#" 
                      ng-click="playPause($index,song.title)">
                      <i class="fa fa-play"
                      ng-class="(mediaPlayer.playing && mediaPlayer.currentTrack-1 === $index)? 'fa-pause':'fa-play'">
                      <span ng-show="mediaPlayer.playing && mediaPlayer.currentTrack-1 === $index">
                        {{mediaPlayer.formatTime}}
                      </span>
                    </i>
                  </a>
                  <i class="fa fa-spin fa-spinner" ng-show="currentTitle == song.title && mediaPlayer.loadPercent != '100'  && mediaPlayer.currentTrack-1 === $index">
                  </i>
                  <i ng-show="currentTitle == song.title && mediaPlayer.loadPercent != '100'  && mediaPlayer.currentTrack-1 === $index"> {{mediaPlayer.loadPercent}}% </i>
                </span>
              </li>
            </ul>
            <div class="comment" id="cmt">
              <div class="comment-count">{{music.comment.length}} Comments</div>
              <div class="commen ts">
                <form>
                  <textarea ng-model="comment.message"></textarea>
                  <div class="text-right">
                    <button class="btn addcomment" toggle-comment ng-click="saveComment($event)">
                      Add Comment
                    </button>
                  </div>
                </form>
              </div>
              <div class="Comments">
                <ul class="list-styled comment-list">
                  <li class="row" ng-repeat="commentRead in music.comment">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 person-img">
                      <img src="wp-content/themes/jordonLondon/images/Avatar.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 comment-field">
                      <p class="person-name">{{commentRead.username}}</p>
                      <p class="comment-desc">{{commentRead.comment}}</p>
                    </div>
                  </li>                
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="popular-tracks">
          <h3 class="theme-text">
            <span class="regular">Popular</span> 
            <span class="light">Tracks</span>
          </h3>
          <div class="tracks">
            <ul class="list-unstyled" ng-init="limit = 3">
              <li ng-repeat="song in music.topSongs | limitTo: limit">
                <p class="track-dec">
                  {{song.mp3.title}}
                </p>
                <ul class="list-unstyled options">
                  <li>
                    <a href="freemixtape/{{song.author}}">
                      <span class="music-img">
                        <img width="18" height="18" src="wp-content/themes/jordonLondon/images/title/music.png" alt="">
                      </span> 
                      Mixtape
                    </a>
                  </li>
                  <li>|</li>
                  <li>
                    <a href="{{song.mp3.url}}" target="_blank">
                      <span>
                        <i class="fa fa-arrow-down"></i>
                      </span> 
                      DownLoad
                    </a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </li>                                      
            </ul>
            <div class="more">
              <a href="#">
                <span class="light" ng-click="limit = 12" ng-hide="limit == 12">Load more tracks</span>
              </a>
            </div>
          </div>
        </div>            
      </div>
    </div>
  </div>
</div><!--/content-inner-->
</div><!--/content-outer-->    
</div>
</section>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div id="embedBox" ng-hide="1">
  <div class="footerOverlay" id="footerOverlay" style="visibility: visible; display: block; bottom: 194px; height: 194px;">
    <div id="footerOverlayContentEmbed" class="embed">
      <div class="title">Direct Link:</div>
      <div>
        <input type="text" value="{{pageUrl}}" onfocus="this.select();" onmouseover="this.select();">
      </div>
      <div class="title">Embed Wide Player:</div>
      <div>
        <input type="text" value="<div align=&quot;center&quot;><embed src=&quot;http://www.datpiff.com/embed/mixtape/{{embedValue}}/&quot; quality=&quot;high&quot; wmode=&quot;direct&quot; pluginspage=&quot;http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash&quot; type=&quot;application/x-shockwave-flash&quot; width=&quot;507&quot; height=&quot;221&quot; allowScriptAccess=&quot;always&quot; allowScripting=&quot;on&quot;><br><a href=&quot;http://www.datpiff.com/Jordan-London-Ask-About-Me-mixtape.610055.html&quot; target=&quot;_blank&quot;>Download Mixtape</a> | <a href=&quot;http://www.datpiff.com&quot; target=&quot;_blank&quot;>Free Mixtapes</a> Powered by <a href=&quot;http://www.datpiff.com/&quot; target=&quot;_blank&quot; title=&quot;Free Mixtapes&quot;>DatPiff.com</a></div>" onfocus="this.select();" onmouseover="this.select();">
      </div>
      <div class="title">Embed Tall Player:</div>
      <div>
        <input type="text" value="<div align=&quot;center&quot;><embed src=&quot;http://www.datpiff.com/embed/mixtape/{{embedValue}}/tall&quot; quality=&quot;high&quot; wmode=&quot;direct&quot; pluginspage=&quot;http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash&quot; type=&quot;application/x-shockwave-flash&quot; width=&quot;300&quot; height=&quot;385&quot; allowScriptAccess=&quot;always&quot; allowScripting=&quot;on&quot;><br><a href=&quot;http://www.datpiff.com/Jordan-London-Ask-About-Me-mixtape.610055.html&quot; target=&quot;_blank&quot;>Download Mixtape</a> | <a href=&quot;http://www.datpiff.com&quot; target=&quot;_blank&quot;>Free Mixtapes</a> Powered by <a href=&quot;http://www.datpiff.com/&quot; target=&quot;_blank&quot; title=&quot;Free Mixtapes&quot;>DatPiff.com</a></div>" onfocus="this.select();" onmouseover="this.select();">
      </div>
    </div>
  </div>
</div>
