<!-- <section class="container">
  <div class="mDj1 hide2">
    <img src="wp-content/themes/jordonLondon/images/Dj1.png" class="img-responsive">
  </div>
  <div class="homelogo">
    <img src="wp-content/themes/jordonLondon/images/logo.png" class="img-responsive">
  </div>
</section>  -->
<section id="main">
  <div class="container">
    <div class="content-outer">
      <div class="content-inner">
        <div class="row topsection">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tab pull-right">
            <ul class="list-unstyled social-icons">
              <li ng-repeat="social in sociallinks">
                <div ng-click="popitup(social.url)">
                  <img ng-src="{{social.image}}" class="img-responsive" alt="">
                </div>
              </li>              
            </ul>
          </div>        
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <div class="sectionTitle white-text">
              <div class="theme-text title">
                <span class="pageicon" >
                  <img src="wp-content/themes/jordonLondon/images/title/Jl.png" alt="">
                </span>
                <span class="regular">GALLERY</span>
                <span class="light">Uploads</span>
              </div>
            </div>
          </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">

          <div id="gallery" galleryImage class="text-center magnific">
              <a rel="example_group" href="{{gallery_top_images[0].gallery_img_large}}" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 galleryList">
                <img ng-src="{{gallery_top_images[0].gallery_img_small}}" class="img-responsive" alt="">
              </a>
                
              <div class="col-lg-6 col-md-6 hidden-sm hidden-xs galleryList theme-text">
                <span><i class="fa fa-caret-left"></i></span>
                <span class="galleryTitle regular">Jordan London</span>
                <span><i class="fa fa-caret-right"></i></span>
                <div><span><i class="fa fa-caret-down"></i></span></div>
              </div>

              <a rel="example_group" href="{{gallery_top_images[1].gallery_img_large}}" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 galleryList">
                <img ng-src="{{gallery_top_images[1].gallery_img_small}}" class="img-responsive" alt="">
              </a>

              <a rel="example_group" ng-repeat="gallery in gallery_images" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 galleryList" href="{{gallery.gallery_img_large}}">
                <img ng-src="{{gallery.gallery_img_small}}" class="img-responsive" alt="" >
              </a>              
          </div>
        </div>
        <script type="text/javascript">
        </script>
      </div><!--/content-inner-->
    </div><!--/content-outer-->
  </div>
</section>