<!-- <search-form></search-form>

<ul>
  <li ng-repeat="post in posts">
    <a href="blog/{{post.ID}}" ng-bind-html="post.title"></a>
    <div ng-bind-html="post.content"></div>
  </li>
</ul> -->

<!-- <section class="container DJ">
  <div class="mDj hide1">
    <img src="wp-content/themes/jordonLondon/images/DJ.png" class="img-responsive">
  </div>
  <div class="homelogo">
    <img src="wp-content/themes/jordonLondon/images/logo.png" class="img-responsive">
  </div>
</section>  -->
<section id="main">
  <div class="container">
    <div class="content-outer main-outer">
      <div class="content-inner">
        <div class="row topsection">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tab pull-right v-icon">
            <ul class="list-unstyled social-icons">
              <li ng-repeat="social in sociallinks">
                <div ng-click="popitup(social.url)">
                  <img ng-src="{{social.image}}" class="img-responsive" alt="">
                </div>
              </li>
            </ul>
          </div>        
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left l-tab">
            <div class="sectionTitle white-text">
              <div class="theme-text title">
                <span class="pageicon">
                  <img src="wp-content/themes/jordonLondon/images/title/Jl.png" alt="">
                </span>
                <span class="regular">Video Stream</span>
                <span class="light">Uploads</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video-outer">
            <span class="arrowbtn arrowLeft hidden-xs" ng-click="slideLeft()">
              <img src="wp-content/themes/jordonLondon/images/slideleft.png" alt="">
            </span>
            <div class="homeVideoSlider">
              <ul class="home-videoList text-center">
                <li ng-repeat="video in popular_videos | limitTo:6" class="img-border col-lg-4 col-md-4 col-sm-4 col-xs-4" href="videos/{{$index}}" title="">
                <a href="videos/{{$index}}" >
                  <img class="img-responsive" src="{{video.video_image}}" ng-hide="video.video_image==''">
                  <img class="img-responsive" src="https://i1.ytimg.com/vi/{{video.video_thumbnail}}/mqdefault.jpg" alt="" ng-show="video.video_image==''">
                </a>
                </li>
              </ul>
            </div>
            <span class="arrowbtn arrowRight hidden-xs" ng-click="slideRight()">
              <img src="wp-content/themes/jordonLondon/images/slideRight.png" alt="">
            </span>
          </div>
        </div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
    <div class="sectionTitle white-text top-title">
      <div class="theme-text title">
        <span class="pageicon" >
          <img src="wp-content/themes/jordonLondon/images/title/Jl.png" alt="">
        </span>
        <span class="regular">Interact with</span> 
        <span class="light smalltext">JordonLondon</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <div class="socialWidgetHolder" 
    style="background-image: url('wp-content/themes/jordonLondon/images/socialBg.jpg');
    background-size: cover;background-position: -100px 0;">
    <div class="col-lg-7 col-lg-offset-5 col-xs-12 widgetBox">
      <div class="twtWidg">
        <span class="widgetTitle">FOLLOW JL ON TWITTER</span>
        <div class="twitterWidget"><a class="twitter-timeline" href="https://twitter.com/JLJordanLondon" data-widget-id="571676766737936384">Tweets by @JLJordanLondon</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
        </div>
        <div class="fbWidg">
          <span class="widgetTitle">FOLLOW JL ON FACEBOOK</span>
          <div class="fbWidget"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FJL-Jordan-London%2F140788179301041%3Fref%3Dhl&amp;width=285&amp;height=282&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=1486334934967535" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:290px;" allowTransparency="true"></iframe></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="mediaplayer">
      <iframe width="100%" height="375" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https://soundcloud.com/jljordanlondon&amp;hide_related=true&amp;visual=true&amp;color=ff5500&amp;auto_play=false&amp;show_artwork=false&amp;show_user=false&amp;show_comments=false&amp;show_playcount=true&amp;sharing=true&amp;liking=true&amp;download=false&amp;buying=false"></iframe>
<!--               <div class="">
=======
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="sectionTitle white-text">
                <div class="theme-text title">
                  <span class="pageicon" >
                    <img src="wp-content/themes/jordonLondon/images/title/Jl.png" alt="">
                  </span>
                  <span class="regular">Interact with</span> 
                  <span class="light">JordonLondon</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="socialWidgetHolder" 
              style="background-image: url('wp-content/themes/jordonLondon/images/socialBg.png');
              background-size: cover;background-position: -100px 0;">
              <div class="col-lg-7 col-lg-offset-5 col-xs-12 widgetBox">
                <div class="twtWidg">
                  <span class="widgetTitle">FOLLOW JL ON TWITTER</span>
                  <div class="twitterWidget"><a class="twitter-timeline" href="https://twitter.com/JLJordanLondon" data-widget-id="571676766737936384">Tweets by @JLJordanLondon</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
                </div>
                <div class="fbWidg">
                  <span class="widgetTitle">FOLLOW JL ON FACEBOOK</span>
                  <div class="fbWidget"><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FJL-Jordan-London%2F140788179301041%3Fref%3Dhl&amp;width=285&amp;height=282&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=1486334934967535" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:280px; height:290px;" allowTransparency="true"></iframe></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="mediaplayer">
              <iframe width="100%" height="375" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https://soundcloud.com/jljordanlondon&amp;hide_related=true&amp;visual=true&amp;color=ff5500&amp;auto_play=true&amp;show_artwork=false&amp;show_user=false&amp;show_comments=false&amp;show_playcount=true&amp;sharing=true&amp;liking=true&amp;download=false&amp;buying=false"></iframe>
<!--          <div class="">
>>>>>>> 89bc6a0cd95a9f16ee8f77d2855553b5b04853eb
                <div class="popular-tracks">
                  <h3 class="theme-text">
                    <span class="regular">Popular</span> 
                    <span class="light">Tracks</span>
                  </h3>
                  <div class="tracks">
                    <ul class="list-unstyled" ng-init="limit = 3">
                      <li ng-repeat="song in music.topSongs | limitTo: limit">
                        <p class="track-dec">
                          {{song.mp3.title}}
                        </p>
                        <ul class="list-unstyled options">
                          <li>
                            <a href="freemixtape/{{song.author}}">
                              <span>
                                <img src="wp-content/themes/jordonLondon/images/Music
                                .png" alt="">
                              </span> 
                              Album
                            </a>
                          </li>
                          <li>|</li>
                          <li>
                            <a href="{{song.mp3.url}}" target="_blank">
                              <span>
                                <i class="fa fa-arrow-down"></i>
                              </span> 
                              DownLoad
                            </a>
                          </li>
                        </ul>
                        <div class="clearfix"></div>
                      </li>                                      
                    </ul>                    
                  </div>
                </div>            
              </div> -->
            </div>
            <div class="advertise">
              <img src="wp-content/themes/jordonLondon/images/add.jpg" class="img-responsive" alt="">
              <!-- <iframe width="100%" height="340" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/15565494&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> -->
            </div>
          </div>
        </div>
      </div><!--/content-inner-->
    </div><!--/content-outer-->
  </div>
</section>
