  <!-- <section class="container">
    <div class="logo">
      <a href="index.html"><img src="wp-content/themes/jordonLondon/images/logo.png"></a>
    </div>
  </section>  -->
  <section id="main">
    <div class="container">
      <div class="content-outer">
        <div class="content-inner">
          <div class="row topsection">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 tab pull-right">
              <ul class="list-unstyled social-icons">
                <li ng-repeat="social in sociallinks">
                  <div ng-click="popitup(social.url)">
                    <img ng-src="{{social.image}}" class="img-responsive" alt="">
                  </div>
                </li>
              </ul>
            </div>            
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12  pull-left">           
              <div class="sectionTitle white-text">
                <div class="theme-text title"><span class="pageicon" >
                  <img src="wp-content/themes/jordonLondon/images/title/Jl.png" alt=""></span><span class="regular">Music</span></div>
                </div>
              </div>
              
            </div>           
            <div class="clearfix"></div>
            <div class="row">
              <div class="content">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <div class="freemix">
                    <h3 class="light theme-text">Discography</h3>
                    <div class="desc">
                      <div ng-hide="playlists.length" class="theme-text">
                        <i class="fa fa-spin fa-spinner"></i> Loading
                      </div>
                      <div ng-repeat="playlist in pagedResult" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 music-tiles musicsLayout">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 artist">
                          <div>
                            <a href="{{playlist.meta.front_side_image.url}}" fancy-boxx>
                              <img src="{{playlist.meta.front_side_image.url}}" alt="" class="img-responsive">
                            </a>
                          </div>
                          <div class="details">       
                            <p class="music-title">{{playlist.meta.playlist_name}}

                            </p>  
                            <div class="Music-Desc">
                              <p class="track-dec1">
                                Views : <span ng-hide="playlist.meta.viewcount=='0'">{{playlist.meta.viewcount}}</span>
                                <span ng-show="playlist.meta.viewcount=='0'">N/A</span>
                              </p>
                              <p class="track-dec1">
                                Streams : <span ng-hide="playlist.streamcount=='0'">{{playlist.streamcount}}</span>
                                <span ng-show="playlist.streamcount=='0'">N/A</span>
                              </p>
                              <p class="track-dec1 play-rate">
                                Rating : 
                                <span ng-bind-html="playlist.rate" ng-show="playlist.rate!=''"></span>
                                <span ng-show="playlist.rate==''">N/A</span>
                              </p>
                            </div>
                            <ul class="list-unstyled options">
                              <li>
                                <a class="music-listen"href="" ng-click="startPlaying(playlist)">Listen</a>
                              </li>
                            </ul>
                          </div>
                        </div>    
                      </div><!--/music-tiles-->                    
                      <div ng-bind-html="emptyBox"></div>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigations">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 navigations">
                      <button class="btn pre" ng-click="pagination('Previous')" ng-disabled="currentPage==0">
                        Previous
                      </button>
                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 navigations text-right">
                      <button class="btn nxt" ng-click="pagination('Next')" ng-disabled="currentPage==totalPages-1">
                        Next
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="popular-tracks">
                    <h3 class="theme-text">
                      <span class="regular">Popular</span> 
                      <span class="light">Tracks</span>
                    </h3>
                    <div class="tracks">
                      <ul class="list-unstyled" ng-init="limit = 3">
                        <li ng-repeat="song in music.topSongs | limitTo: limit">
                          <p class="track-dec">
                            {{song.mp3.title}}
                          </p>
                          <ul class="list-unstyled options">
                            <li>
                              <a href="freemixtape/{{song.author}}">
                                <span class="music-img">
                                  <img width="18" height="18" src="wp-content/themes/jordonLondon/images/title/music.png" alt="">
                                </span> 
                                Mixtape
                              </a>
                            </li>
                            <li>|</li>
                            <li>
                              <a href="{{song.mp3.url}}" target="_blank">
                                <span>
                                  <i class="fa fa-arrow-down"></i>
                                </span> 
                                DownLoad
                              </a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                        </li>                                      
                      </ul>
                      <div class="more">
                        <a href="#">
                          <span class="light" ng-click="limit = 12" ng-hide="limit == 12">Load more tracks</span>
                        </a>
                      </div>
                    </div>
                  </div>            
                </div>
              </div>
            </div>
          </div>
        </div><!--/content-outer-->    
      </div>
    </section>
<!-- <audio media-player="mediaPlayer" playlist="nowPlaying">
</audio> -->
</div>
</section>
