  <!-- <section class="container">
    <div class="logo">
      <a href="index.html"><img src="wp-content/themes/jordonLondon/images/logo.png"></a>
    </div>
  </section>  -->
  <section id="main">
    <div class="container">
      <div class="content-outer">
        <div class="content-inner">
          <div class="row pg-video topsection">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-Zero pull-right v-icon">
              <ul class="list-unstyled social-icons">
                <li ng-repeat="social in sociallinks">
                  <div ng-click="popitup(social.url)">
                    <img ng-src="{{social.image}}" class="img-responsive" alt="">
                  </div>
                </li>                
              </ul>
            </div>          
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pad-Zero pull-left l-tab">
              <div class="sectionTitle white-text">
                <div class="theme-text title"><span class="pageicon" ><img src="wp-content/themes/jordonLondon/images/title/Jl.png" alt=""></span><span class="regular">Popular</span> <span class="light">Videos</span></div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="content">
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="videoplayer">
                 <youtube-video player-width="'100%'" player-height="'400px'" video-url="current_video" player="bestPlayer">
                 
               </youtube-video>      
             </div>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <ul class="list-unstyled recentvideos hidden-xs">
              <li ng-repeat="video in featured_videos | filter:{featured: true}">
                <a  href="#" video-url="{{video.video_url}}" ng-click="update_url(video.video_thumbnail)">
                  <img src="{{video.video_image}}" ng-hide="video.video_image==''">
                  <img src="https://i1.ytimg.com/vi/{{video.video_thumbnail}}/mqdefault.jpg" alt="" ng-show="video.video_image==''">
                  <div class="bar"><img src="wp-content/themes/jordonLondon/images/bar2.png" alt=""></div>
                </a>                
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row pg-video popular">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-Zero">
          <div class="sectionTitle white-text">
            <div class="theme-text title"><strong>More Popular</strong> <span class="light">Videos</span></div>
          </div>

        </div>
      </div> 
      <ul class="list-unstyled popular-videos">
        <li ng-repeat="video in popular_videos | limitTo:6 ">
          <a href="#" video-url="{{video.video_url}}" ng-click="update_url(video.video_thumbnail)">
            <img src="{{video.video_image}}" ng-hide="video.video_image==''">
                  <img src="https://i1.ytimg.com/vi/{{video.video_thumbnail}}/mqdefault.jpg" alt="" ng-show="video.video_image==''">
            <div class="bar"><img src="wp-content/themes/jordonLondon/images/bar2.png" alt=""></div>
          </a>
        </li>
      </ul>
    </div><!--/content-inner-->
  </div><!--/content-outer-->    
</div>
</section>
