/*
Theme Name: JordanLondon
Theme URI: jordonLondon.com
Description: JordonLondon Theme
Version: 1.0
Author: Codingmart
Author URI: http://www.codingmart.com
Tags: Codingmart, JordonLondon
*/

/*Common*/
html,
body{
  font-family: Arial, sans-serif; 
  padding-bottom: 60px;
}
.homeBg ,.pageBg , .biographyBg {
  background-color: #000;
  background-size: cover; 
}
/*.homeBg {
  background-image: url('images/homeBg.png');
  background-size: cover; 
}
.pageBg {
  background-image: url('images/pagebg.png');
  background-size: cover; 
}
.biographyBg {
  background-image: url('images/bioBg.jpg');
  background-size: cover; 
}*/
.white-text{
  color: #fff;
}
.theme-text{
  color: #b28f0f;
}
.great-text {
  color: #959595;
}
.pad-Zero{
  padding: 0;
}
.left-Zero { padding-left: 0; }
.right-Zero { padding-right: 0; }
.regular{
  font-family: 'BebasNeueRegular';
}
.Page-Content-Viewer{
  margin-left: 25px;
  margin-top: -25px;
}
/*Home*/
.header{
  background: rgba(0,0,0,0.6);
  height: 78px;
  margin-bottom: 2px;
  margin-left: 25px;
}
.header ul{
  padding: 0;
}
.header ul li{
  padding: 0 17px;
  list-style: none;
}
.header ul li a{
  color: #b28f0f;
  font-size: 30px;
  font-family: 'BebasNeueBold';
  padding: 29.4px 13px;
}
.header ul li a:hover, .header ul li a:focus,.header ul li a.active{
  background: rgba(252, 243, 0,0.25);
  border-bottom: 10px solid #b7971f;
  text-decoration: none;
  color: #c8b11c;
  text-shadow: 1px 1px 3px #000;
}
.header ul li a:active{
  background: transparent;
}
.border-down{
  border-bottom: 5px solid rgba(0,0,0,0.2);
  margin-top: 2px;
}
.headerToggle span{
  background: #c8b11c;
  width: 27px;
  height: 3px;
}
/*Logo*/
.logo{
  margin-top: 8%;
  /*margin-left: 7%;*/
  text-align: center;
}
.logo img {
  width: 20.4%;
}
.homelogo { 
  margin-top: 8%;
  margin-left: 7%;
  /*text-align: center;*/
  
}

.homelogo img {
  width: 22%;
}
.hide1 {
  display: none;
}
.hide2 {
  display: none;
}

.mDj1 {
  position: absolute;
  z-index: -1;
  top: 28px;
  right: -43px;
  width: 70%;
}

/*Video List Homepage*/
.home-videoList{
  height: 200px;
  margin: 45px 0;
  position: relative;
  left: 0px;
  width: 9999px;
  padding: 0;
  margin-left: 28px;
}
.home-videoList li{
  display: inline-block;
  list-style: none;
  float: left;
  padding: 2px 4px;
  height: 200px;
  cursor: pointer;
  width: 312px;
}
.homeVideoSlider {
  width: 960px;
  height: 230px;
  overflow: hidden;
}
/*.home-videoList li img {
  filter: sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
}

.home-videoList li img:hover {
  filter: sepia(0);
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
  }*/
  .arrowbtn{
    position: absolute;
    top: 37%;
    cursor: pointer;
  }
  .arrowLeft{
    /*left: -10px;*/
    z-index: 1;
  }
  .arrowRight{
    right: 15px;
  }
  .socialWidgetHolder{
    width: 100%;
    min-height: 695px;
    margin: 25px 0;
    padding: 15px;
  }
  .widgetBox{
    background: rgba(0,0,0,0.65);
    padding: 10px;
  }
  .widgetTitle{
    font-size: 20px;
    color: #c8b11c;
  }
  .fbWidg{
    margin-top: 30px;
  }
  .twitterWidget, .fbWidget{
    width: 100%;
    border: 2px solid #c8b11c;
    margin: 5px 0;
  }
  .twitterWidget{
    height: 230px;
  }
  .fbWidget{
    height: 320px;
    background-color:rgba(255,255,255,0.6);
  }
  .img-border
  {
    padding:10px;

  }
  .img-border img{
    border: 3px solid #b28f0f;
  }
  /*Upcoming events*/
  #upcomeEvents{
    margin-top: 5%;
    margin-bottom: 15%;
  }
  .sectionTitle{
    font-family: 'BebasNeueRegular';
    font-size: 48px;
  }
  .border-dot:before{
    content: '•';
    color: rgba(255, 255, 255, 0.76);
    font-size: 30px;
    position: absolute;
    left: -2px;
    top: -21.75px;
  }
  .border-dot{
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    position: relative;
    margin-top: 10px;
    margin-bottom: 18px;
  }
  .eventDetails{
    margin: 3px 0;
  }
  .eventDetails .eventDate{
    color: #fff;
  }
  .eventDetails p{
    color: #b28f0f;
  }

  /*Footer*/
  footer{
   position: relative;
   margin: 130px 0 30px;
 }
 .foot-border{
   border-top: 4px solid #313131;
 }
 .footLogo{
   position: absolute;
   bottom: 20px;
   padding: 0px 15px;
   left: 0;
   right: 0;
   text-align: center;
 }
 .footLogo img{
   width: 90%;
 }
 .footLogo-holder{
   height: 60px;
   border: 4px solid #313131;
   border-top: 0;
   position: relative;
 }
 .copyrights{
   font-size: 14px;
   display: block;
   margin-top: 35px;
   padding-right: 30px;
   text-align: right;
 }
 .copyrights a:hover{
   color: #b28f0f;
   text-decoration: none;
 }
 /*About*/
 .content-outer { 
   /*background-image: url('images/content-bacground.png');*/
   background-size: 100%;
   padding: 20px;
   padding-top: 0px;
   background-repeat: no-repeat;
   background-color: rgba(0,0,0,0.3);
   min-height: 960px;
 }
 .main-outer {
  min-height: 1300px;
}
.content-inner {
 padding: 40px 80px;
 padding-left: 20px;
 padding-top: 0px;
}
.pageicon { padding: 0 20px 0 0; }
.light { font-family: 'BebasNeueLight'; }
.social-icons {
  margin: 0;
  padding: 12px 0 0;
  text-align: center;
}
.social-icons li { 
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}
/*Advertise*/
.advertise { 
  border: 5px solid #252525;
}
.advertise img { 
  width: 100%!important;
  height: auto;
}
.mediaplayers {
  margin-bottom: 25px;
  height: 375px;
}
.mediaplayer { 
  margin: 25px 0;
  height: 375px;
}
.content { 
  margin: 25px 0 0;
}
.biography { 
  font-size: 16px;
  padding: 0 30px 0 0;
  text-align: justify;
  line-height: 22px;
  letter-spacing: 1px;
}
.biography p {
  margin: 0 0 20px;
}
#main { margin-top: 90px; }
/*video*/
.pg-video { 
  margin: 0; 
  border-bottom: 1px solid #b28f0f; 
}
.pg-video .social-icons { text-align: right; }
.videoplayer { 
  border: 1px solid #000;
  border-radius: 5px;
}
.videoplayer img { 
  width: 100%; 
  height: auto; 
}
.recentvideos img { width:100%; height: 121px; }
.bar  img { height: auto !important; }
.recentvideos { 
  margin: 0;
  text-align: right; }
  .recentvideos li:nth-child(2n) { margin: 15px 0; }

  .popular-videos { 
    margin: 25px 0 15px;
    /*    text-align: center;*/ 
  }
  .popular-videos li { 
    display: inline-block; 
    margin: 0 15px 30px;
    position: relative;
    vertical-align: top;
  }
  /*.popular-videos li:nth-child(2n){ margin: 0 20px 35px; }*/

  .popular-videos img {
   width: 270px;
   height: 150px;
   max-width: 270px;
 }

 .popular { margin: 40px 0 0; }
 .recentvideos li { 
   position: relative; 
   
 }
 .bar { 
   position : absolute; 
   width: 100%;
   bottom: 0;
 }

 /*music*/
 .music-title {
  color: #B28F0F;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4;
  height: 34px !important;
}
.pg-music .social-icons {
  text-align: right;
}
.navigations{
  padding: 10px 0 0;
}
.navTexts{
  color:#fff;
}
.musicsLayout
{
  background-color: #111; 
  border: 1px solid rgba(178, 143, 15, 0.18);;
  color: #b28f0f;
}
.music-player { 
  border-radius: 5px;
  border: 1px solid #000;
}
.music-player img { width: 100%; height: auto; }
/*contact*/
#contact-form input,textarea {
  width: 100%;
  outline: none;
  padding: 10px;
  background: #211c06;
  border: 1px solid #3f340c;
  color: #b28f0f;
}
.play-rate {
  height: 13px;
}
#contact-form textarea {
  height: 200px;
}
.music-img img{
  height: 18px;
  width: 18px;
}
.send { 
  padding: 10px 27px; 
  border-radius: 2px;
  border:none;
  background: #b28f0f;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}
.music-listen {
  padding: 3px 5px;
  border: 1px solid rgba(255, 165, 0, 0.6);
  border-radius: 3px; 
  display: inline-block;
  margin-top: 5px;
}
.send a { 
  text-decoration: none;
  color: #443a06;
}
.music-img { 
  padding-right: 5px;
}
.fields { margin-bottom: 25px; }
.pre,.nxt,.pre:hover,.nxt:hover,.pre:focus,.nxt:focus {
  color: #b28f0f;
  background: #111;
}
/* custom placeholder color */
/* WebKit browsers */
::-webkit-input-placeholder { 
  color: #443a06;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder { 
 color: #443a06;
 opacity: 1;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder { 
 color: #443a06;
 opacity: 1;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder { 
 color: #443a06;
}
/*Gallery*/
#gallery{
  margin-top: 45px;
  margin-left: 15px;
  margin-right: 15px;
}
#gallery img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
}
#gallery img:hover {
  filter: sepia(0);
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
}
.galleryList{
  padding: 0;
  height: 150px;
  overflow: hidden;
}
.galleryList span{
  padding: 0px 20px;
  vertical-align: middle;
  font-size: 40px;
}
.galleryList span i{
  cursor: pointer;
}
/*Freemixtape*/
.imagesNavigate {
  float: right;
}
.listenColor
{
  color: #F76700!important;
}
.downloadColor
{
  color: #0f0 !important;
  cursor: pointer;
}
.imagesNavigate a {
  color: #fff;
}

.playerActions i {
  color: rgba(178, 143, 15, 0.83);
  font-size: 18px;
}

.imagesNavigate i {
  padding: 5px;
  cursor: pointer;
}

.freemix h3,.popular-tracks h3 { 
  font-size: 44px; 
  border-bottom: 1px solid #3f340c; 
  padding: 0 0 8px;
}
.popular-tracks h3 { 
  border: none;
  padding: 0;
  margin-bottom: 5px;
}
.description { 
  padding: 0;
  color: #fff;
  position: relative;
  min-height: 140px;
  font-size: 12px;
}
.ratings { 
  padding-right: 0; 
}
.artist { 
  padding: 10px;
}
.details { padding: 10px 0 0; }
.artist img { 
  width: 100%;
  height: 100px; 
}
.rating { 
  padding: 5px;
  font-size: 12px;
  border: 1px solid #3f340c;
}
.rating li { padding: 0 0 3px; }
.fans-rating {
  color: #b28f0f;
  text-align: center;
  margin: 0;
}
.fans-rating span { 
  display: block;
  /*color: #fff !important;*/
}
.options { 
  position: absolute;
  bottom: 0;
  color: #b28f0f; 
  margin: 0;
}
.options li { display: inline-block; }
.options li:nth-child(2n) { padding: 0 10px; }
.options a {
  color: #b28f0f;
  text-decoration: none;
}

.video-menu,.video-menus { 
  margin: 20px 0 0;
  text-transform: uppercase;
  font-size: 15px;
}
.video-menu li { 
  display: inline-block;
}
.video-menu a,.video-menus a { 
  padding: 5px 9px;
  color: #645009;
  text-decoration: none;
  display: inline-block;
}
.video-menu span { padding: 0 4px 0 0;}
.questions {
  margin: 50px 0 0;
}
.questions li { margin-bottom: 5px; }  
.questions li { 
  display: block;
  padding: 10px;
  background: rgba(178, 143, 15, 0.1);
  color:#b28f0f;
  text-decoration: none;
}

.questions li:hover,.questions li.active {
  background: rgba(178, 143, 15, .3);
}
.question-options { 
  float: right;
  display: none;
  padding: 0 40px 0 0;
}
.question-options img { width: 15px; height: auto; }
.questions li:hover .question-options,.questions li.active .question-options {
  display: block;
}
.question-options a { margin: 0 5px; }
.comment { 
  margin: 50px 0 0; 
  color:#b28f0f;  
}
.comments { 
  padding: 5px 5px 10px;
  background: rgba(178, 143, 15, 0.1);
}
.comment-count { padding: 0 0 5px; }
.comments textarea { 
  height: 150px;
  border: none;
}
.addcomment { 
  background: #433608; 
  color: #584709;
  outline: none;
  border: 0
}
.addcomment:hover,.addcomment:focus { 
  outline: none;
  color: #584709;
}
.tracks { 
  padding: 20px;
  border: 2px solid #3f340c; 
  color: #fff;
}
.tracks li { 
  padding: 20px 0 5px;
  border-bottom: 1px solid #aaa;
}
.tracks li:last-child { border: none; }
.tracks li:first-child {
  padding: 0 0 5px;
}
.track-dec { 
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4;
  font-size: 12px;
  color:#fff;
}
.tracks .options {
  position: static; 
}
.options li { 
  padding: 0; 
  border: none; 
}
.more { 
  margin: 20px 0 0;
  font-size: 21px; 
  text-align: center; 
}
.more a {
  color:#82680a; 
  text-decoration: underline;
}
.music-tiles,.posts  { 
  padding: 20px 0 30px;
  color: black; 
  font-size: 13px!important;
}
.music-tiles { 
  padding: 0; 
  min-height: 293px;
  margin: 0 5px 5px 0;
  color: #b28f0f;
  width: 24%!important;
}

.music-tiles .track-dec { font-size: 13px; }
.music-tiles .options,.Recent-posts .options { position: static; }
.music-tiles .options li { 
  padding: 5px 0 0;
}
.artist-description { padding: 0 25px 0 0; }

/*blog */
.posts { 
  padding: 20px 0 0;
}
.blog .player img { 
  width: 100%;
}
.recent-blog { 
  padding: 20px 0 0;
}
.recent-blog h3 { 
  font-size: 40px;
  margin-bottom: 0;
}
.Fs { border: none!important; }
.Tracks { 
  font-size: 30px !important;
}
.latest h3 { margin: 0; }
.post-img { padding: 0; }
.post-detail { padding-right: 0; }
.post-img img { 
  width: 100%;
  height: 140px;
}
.Recent-posts { 
  padding: 10px 0 0;
}
.Recent-posts h3 { 
  font-size: 40px;
  margin-bottom: 0;
}
.post-tilte { 
  font-size: 40px;
  padding: 10px 0;
  line-height: normal;
}
.post-date { 
  font-size: 12px;
  padding: 0 0 30px;
}

.post-comment { 
  background: #3f3108;
  padding: 2px 4px 2px 2px;
}
.person-img { 
  padding: 0;
}
.person-img img { 
  width: 100%;
  max-width: 90px;
  height: 75px;
}
.comment-field { 
  padding: 0;
  text-align: right;
}
.post-comment textarea { 
  padding: 2px;
  height: 45px;
  font-size: 12px;
  text-align: left;
  border: 1px solid #000;
  margin: 0;
}
.comment-field select { 
  background: #7c640f;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
  padding: 3px;
}
.Comments .comment-field { 
  text-align: left!important;
  color: #b28f0f;
}
.person-name { 
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 12px; 
}
.comment-desc { 
  margin: 0 0 5px;
  color: #fff;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4;
  font-size: 12px;
}
.comment-links a { 
  color: #b28f0f;
  margin: 0 5px 0 0;
}
.comment-list { 
  margin: 50px 0 0;
  padding-left: 0 !important;
  list-style-type: none;
}
.comment-list li { 
  padding: 0 0 20px;
  margin-left: 0;
  margin-right: 0px;
}
.recent-blogs { 
  margin: 0 0 30px;
  padding: 30px 0 20px;
  border-bottom: 1px solid #b28f0f;
}
.Recentblog-img img { height: 165px; width: 100%; }
.recent-blogs .fs {
  padding-left: 0;
}
.recent-blogs .ls {
  padding-right: 0;
}
.recent-blog-dec { 
  color: #806609;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 1.6;
  font-size: 12px;
  height: 80px;
}
.link { 
  margin: 20px 0 0;
}
.link a { color: #ffc800; }
.link a:hover { color: #ffc800;  }
.recent-blog-video { 
  padding: 0 0 40px;
}
.blog-video { 
  padding: 0;
}
.blog-video img { 
  height: 170px;
  width: 100%;
}
.submit-date { 
  padding: 0 0 10px;
  font-size: 12px;
  color: #745c03;
  border-bottom: 1px solid  #3f340c; 
}
.video-details h4 {
  margin: 0 0 10px;
  font-size: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.8;
}
.video-desc {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 1.7;
  height: 85px;
}
.loadmore {
  margin: 40px 0 0;
}
.loadmore a { 
  color: #b28f0f;
  text-decoration: none;
  display: block;
  padding: 5px;
  background: rgba(178, 143, 15, 0.1);
  text-align: center;
  font-size: 40px;
}
.blog-text { color: #fff; }
.fbFeedbackPost .postText { color: #fff!important; }
#footerOverlayContentEmbed { 
  padding: 20px; 
}
#footerOverlayContentEmbed .title { 
  font-size: 16px;
  color: #fff;
}
#footerOverlayContentEmbed input { 
  margin-bottom: 15px;
  width: 100%;
  padding: 4px;
}
.stButton .stMainServices,.stButton .stButton_gradient { height: 24px!important; }
.sharlink { padding: 30px 0 0;}
.greentext {
  color: #0f0;
}

/* latest css*/
.top-title {
  padding: 10px 0 0;
}

/*.video-outer {
  overflow: hidden;
  }*/



  @media only screen and (min-width: 991px) and (max-width: 1200px){
    .music-tiles {
      margin: 0 4px 5px 0;
    }
    .header ul li{
      padding: 0 10px;
    }
    .header ul li a { 
      padding: 29.4px 9px;
    }
    .popular-tracks h3 { 
      font-size: 35px; 
      padding: 0 0 8px;
    }
    /*arrow*/
    .arrowLeft{
      left: 86px;
    }
    .arrowRight{
      right: 86px;
    }
    .artist img { height: 85px; }
    .post-img img { 
      height: 100px;
    }
    .comment-field { padding-left: 15px; }
    .Recentblog-img img { 
      height: auto!important;
    } 
    .v-icon {
      width: 37%!important;
      padding: 0!important;
    }

    .video-outer{
      overflow: hidden;
      margin: 3px 26px 0 0;
      padding: 0!important;
    }
    .home-videoList li {
      width: 210px!important;
    }
    .homeVideoSlider {
      width: 955px;
      height: 230px;
      overflow: hidden;
      margin: 1px 20px;
    }
  }
  @media only screen and (max-width:991px) {

    .social-icons { padding: 0; }
    .header ul li { padding: 0 10px; }
    .header ul li a { padding: 29.4px 10px; }
    .content-inner { padding: 30px; }
    .sectionTitle { font-size: 38px; }
    /*.social-icons img { width: 40px; }*/
    .fb img { height: 50px; width: auto; }
    .tab { padding: 0; }
    .social-icons li { margin: 0 1px; }
    .popular-videos li:nth-child(2n) { margin: 0 10px 30px; }
    .popular-videos li { margin: 0 10px 30px; }

    /*Gallery*/
    .galleryList {
      max-height: 285px;
      height: auto;
      padding: 3px;
    }
    .galleryList img{
      border: 2px solid #ddd;
    }
    .galleryList span {
      padding: 0px 5px;
      font-size: 24px;
    }  
    .freemix h3, .popular-tracks h3 {
      font-size: 30px;
    }
    .comment-field { padding-left: 15px; }
    footer { margin: 80px 0 30px; }
    .Recentblog-img img { 
      width: 230px;
    }
    .recentvideos img {  
      height: 76px; 
    }
    .blog-video img {
      height: auto;
    }
    .music-tiles {
      width: 32%!important;
    }
    .artist {
      padding: 10px!important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .tracks .options {
      font-size: 11px;
    }
    .options li:nth-child(2n) {
      padding: 0;
    }
    .Recentblog-img img {
      height: 110px!important;
    }
    .header ul li{
      padding: 0 5px;
    }
    .header ul li a { 
      padding: 29.4px 6px;
    }
    .header ul li a{
      font-size: 25px;
    }
    /*arrow*/
    .arrowLeft{
      left: 26px;
    }
    .arrowRight{
      right: 26px;
    }
    .artist img { height: 85px; }
    .post-img img { 
      height: 100px;
    }
    .v-icon {
      width: 37%!important;
    }
    .l-tab {
      width: 63%!important;
    }
    .video-outer{
      overflow: hidden;
      margin: 3px 26px 0 0;
      padding: 0!important;
    }
    .home-videoList li {
      width: 210px!important;
    }
    .homeVideoSlider {
      width: 955px;
      height: 230px;
      overflow: hidden;
      margin: 1px 20px;
    }

  }
  @media only screen and (max-width: 767px){
    .blog1 {
      padding: 0 0 10px!important;
    }
    .social-icons {
      padding: 10px 0 0;
      text-align: left;
    }
    .music-tiles {
      width: 48%!important;
    }
    .homeVideoSlider {
      width: 100%;
      height: 230px;
      overflow: hidden;
    }

    .home-videoList {
      height: 70px;
      margin: 25px 0;
      /* position: relative; */
      left: 0px;
      width: 570px;
      padding: 0;
    }

    .home-videoList li {
      display: inline-block;
      list-style: none;
      /* float: left; */
      padding: 2px 4px;
      height: auto;
      cursor: pointer;
      width: 160px;
    }

    .social-icons li {
      margin: 0 6px;
    }
    .homelogo img {
      width: 77%;
      padding: 20px 0;
    }
    .logo img {
      width: 31%;
    }
    .logo {
      margin: 15px 0;
    }
    .options li:nth-child(2n) {
      padding: 0 6px;
    }
    .loadmore { margin-bottom: 20px; }
    .recent-blogs { 
      margin: 0;
      padding-bottom: 0;
      border: none; 
    }
    .recent-blogs .fs,.recent-blogs .md,.recent-blogs .ls {
      padding: 0 0 20px;
      margin: 0 0 20px;
      border-bottom: 1px solid #b28f0f; 
    }
    .video-details {
      padding-left: 0;
    }
    .post-img { width: 30%; }
    .post-detail { width: 70%; }
    .post-img img {
      display: inherit;
      max-width: 150px;
      height: auto!important;
    }
    .posts .options { text-align: left; }

    /*.artist img { height: auto!important; }*/
    .content-outer { min-height: 700px!important;}
    footer {margin-top: 18%; }
    .music-tiles {
     min-height: 326px!important;
   }
   .homelogo { 
    margin-left: 0;
    text-align: center;
  }
  .header ul li a:hover, .header ul li a:focus, .header ul li a.active { 
    border-bottom: none;
    display: block;
  }
  .fans-rating li { 
    display: inline-block; 
    padding: 0 10px;
  }
  .video-menu a {
    display: block;
  }
  .video-menu a:hover {
    background: rgba(178, 143, 15, 0.1);
  }
  /*body { background-size: contain !important; }*/
  #contact-form input,textarea { margin-bottom: 12px; }
  .left-Zero,.right-Zero { padding: 0; }
  .fields { margin: 0; }
  .header ul {
    background: rgba(0, 0, 0, 0.64);
    width: 200px;
    float: right;
    text-align: right;
    margin-top: 55px;
    margin-right: -5px;
  }
  .headerCollapse{
    position: absolute;
    top: 0;
  }
  .headerCollapse{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .header ul li a {
    font-size: 21px;
    padding: 12px 5px;
    display: inline-block;
  }
  .header ul li a:hover, .header ul li a:focus {
    background: transparent;
    border-bottom: none;
  }
  .sectionTitle {
    text-align: left;
  }
  .tab { padding: 0 15px; }
  .biography { 
    padding: 0;
  } 
  .popular-videos { 
    text-align: center;
  }
  .popular-videos li img { 
    width: 100%;
    height: 120px;
  }
  .popular-videos li,.popular-videos li:nth-child(2n) { margin: 0 1% 10px; width: 38%; }
  .pg-video .social-icons { text-align: center; }
  /*arrow*/
  .arrowLeft{
    left: -17px;
  }
  .arrowRight{
    right: -17px;
  }
  .description {
    min-height: 20px;
    margin: 20px 0;
  } 
  .artist { text-align: center!important }
  .artist img { 
    max-width: 120px;
    width: auto!important; 
    display: inline; 
    height: 120px!important;
  }
  .options { 
    position: static;
    /*text-align: center;  */
  }
  .video-menu li { display: block; }
  .video-menu li:nth-child(2n) { display: none; }
  .eventDetails p { text-align: center; }
  .music-tiles { 
    padding: 0 0 15px;
    text-align: center; 
  }
  .music-tiles .artist { padding: 10px 0 10px; }
  .blog-video img {
    width: 230px;
    height: 170px;
  }

  .hide1 {
    display: block;
  }

  .mDj {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -18px;
    width: 70%;
  }
  .homelogo {
    margin-top: 0;
    margin-left: 0;
    width: 50%;
    z-index: 99999;
  }
  #main {
    margin: -3px;
  }  
  .DJ {
    position: relative;
  }
  .navbar-collapse{  
    z-index: 1;
    width: 100%;
  }
  .navbar-toggle {
    margin-top: 25px;
    z-index: 100;
  }
  .music-tiles {
    width: 48%!important;
  }
  .artist {
    padding: 10px!important;
  }
}
@media only screen and (max-width: 640px){
  .hide2 {
    display: block;
  }
  .mDj1 {
    top: -19px;
    right: -93px;
  }
  .logo {
    margin: 10px 0;
  }
  .logo img {
    width: 25%;
  }
  .Page-Content-Viewer {
    margin-left: 0px;
    margin-top: -25px;
  }
}
@media only screen and (max-width: 480px){
  .btn-1 {
    text-align: center!important;
  }
  /*.section1 {
    padding: 0 0 0 15px;
  }*/
  .title {
    padding: 7px 0 0;
  }
  #gallery {
    margin-top: 20px;
  }
  .mDj1 {
    top: 28px;
    right: -43px;
  }
  .home-videoList li {
    width: 76px;
  }
  .music-tiles {
    width: 100%!important;
    margin: 0 0 10px!important;
  }
  .artist {
    padding: 10px!important;
  }
  .fbWidget,.fbWidg  {
    overflow: hidden;  
    text-align: left;
  }
  ._4s7c {
    width: 175px!important;
  }
  .social-icons li {
    height: 12px;
    min-height: 30px;
    max-height: 40px;
    width: 26px;
    margin: 0px 5px;
  }
  .social-icons li:first-child{
    width: 20px;
    margin-right: 0px;
    margin-left: -5px;
  }  
  .social-icons li:last-child{
    margin-left: 5px;
  }
  .social-icons img {
    height: 26px;
    width: auto;
  }
  .header {
    height: 60px;
  }
  .navbar-toggle {
    margin-top: 15px;
    z-index: 1000;
  }
/*  .smalltext {
    padding-left: 43px;
    }*/
    .logo img{
      width: 45%;
    }

    .homeVideoSlider {
      height: auto;
      overflow: hidden;
    }

    .home-videoList {
      height: auto;
      margin: 25px 0;
      /* position: relative; */
      left: 0px;
      width: 300px;
      padding: 0;
    }

    .home-videoList li {
      display: inline-block;
      list-style: none;
      /* float: left; */
      padding: 2px 4px;
      height: auto!important;
      cursor: pointer;
      width: 76px;
    }
    .content-outer { padding: 10px; }
    .content-inner { padding: 15px; }
    .content-inner .sectionTitle { 
      font-size: 19px; 
      text-align: left;  
    }
    .pageicon { padding: 0 10px 0 0; }
    .pageicon img { width: 35px; height: auto; }
    .popular-videos li,.popular-videos li:nth-child(2n) { width: 46%; }
    .social-icons { text-align: left!important;}
    /*Widget*/
    .widgetTitle{
      font-size: 13px;
    }
    .question-options { 
      padding: 0;
      float: none;
      display: block;
    }
    .person-img img { 
      height: 59px;
    }
    .post-tilte {
      font-size: 24px;
    }
    .post-date { 
      padding: 0 0 15px;
    }  
    .recent-blog h3 { font-size: 30px; }
    .popular-videos li img { 
      height: 80px;
    }
    .mDj {
      right: 0;
    }
    #main {
      margin: 0 6px;
    }
    .top-title {
      padding: 15px 0 0;
    }
  }

  /* form styles */
  .fancybox-skin{
    background-color: #957d2c !important;
  }
  .login-button a{
    padding: 10px !important;
    border-radius: 7px 7px 0px 0px;
    text-decoration: none;
    color: black;
  }

  .login-button .active{

    background-color: #eeffaa !important;
  }
  .login-form{
    background-color: #eeffaa;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    margin-top: 5px;
    padding-bottom: 7px;
  }
  .login-form input{
    background-color: none;
  }
  .login-button{
    margin-top: 10px !important;
  }
  .Form-fancybox{
    width: 300px;   
  }
  .ratingAS{
    margin: 0;
    padding: 0;
    display: inline-block; 
  }
  .rate-selected {
   padding: 1px;
   color: #a9a9a9;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
   list-style-type: none;
   display: inline-block !important;
   cursor: pointer;

 }
 .rate-selected.filled {
  color: #ffce00; 
}
.Music-Rate.fa-star{
 color: #ffce00 !important;  
}
/* form styles */
/* popover styles */
.popover.bottom > .arrow:after {
  border-bottom-color: rgba(178, 143, 15, 1) !important;
}
.popover{
  background-clip: none !important;
  background-color:rgba(178, 143, 15, 1);
}
.popover .popover-text{
  color:yellow !important;
}
/* popover styles */
/* twitter timeline */
.twitter-timeline{
  width: 100% !important;
  height: 226px !important;
}

/*Sharethis */
.st_button {
  height: 32px;
  width: 32px;
  display: inline-block;
}
.st_googleplus_large {
  background: url("images/googleplus_32.png")
}
.st_facebook_large {
  background: url("images/facebook_32.png")
}
.st_twitter_large {
  background: url("images/twitter_32.png")
}
.st_linkedin_large {
  background: url("images/linkedin_32.png")
}
.st_pinterest_large {
  background: url("images/pinterest_32.png")
}
